# Terraform files
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl

# Config files from the k3s cluster
azure-file-test.yaml
lb.yaml
secret.yaml

# Vagrant files
.vagrant

# Python virtual environment
venv/

# Kubespray files
kubespray/

# Swarmchestrate files
QONNECT/

# Environment variable files
.env

# Example script to transfer data to the VMs
transfer-data.sh

# Database files
docs
