# Terraform state files
*.tfstate
*.tfstate.backup

# Variable definitions (sensible Daten)
*.tfvars

# Terraform directory with modules & plugins
.terraform/

# Terraform Lock-Datei ignorieren
.terraform.lock.hcl

# Config files from the k3s cluster
config/