{
    "cloud": "...",
    "tenantId": "...",
    "subscriptionId": "...",
    "resourceGroup": "...",
    "location": "...",
    "useManagedIdentityExtension": ...,
    "securityGroupName": "...",
    "userAssignedIdentityID": "...",
    "vnetName": "...",
    "vnetResourceGroup": "...",
    "subnetName": "...",
}